<!DOCTYPE html>
<!--
Template Name: Oleald
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>Oleald</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay light" style="background-image: url('~/images/demo/backgrounds/01.png');">
        <!-- ################################################################################################ -->
        <div class="wrapper row0">
            <div id="topbar" class="hoc clear">
                <!-- ################################################################################################ -->
                <div class="fl_left">
                    <!-- ################################################################################################ -->
                    <ul class="nospace">
                        <li><i class="fa fa-phone"></i> (+66) 1669</li>
                        <li><i class="fa fa-envelope-o"></i> Bookshop@kru.ac.th</li>
                    </ul>
                    <!-- ################################################################################################ -->
                </div>
                <div class="fl_right">
                    <!-- ################################################################################################ -->
                    <ul class="nospace">
                        <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
                        <li><a href="#" title="Help Centre"><i class="fa fa-life-bouy"></i></a></li>
                        <li><a href="@Url.Action("Login","Home")" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>
                        <li><a href="#" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>
                    </ul>
                    <!-- ################################################################################################ -->
                </div>
                <!-- ################################################################################################ -->
            </div>
        </div>

        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <!-- ################################################################################################ -->
                <div id="logo" class="fl_left">
                    <h1><a href="@Url.Action("Index","Home")">BookShop</a></h1>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>
                            <a class="drop" href="#">Pages</a>
                            <ul>
                                <li><a href="@Url.Action("Index","Users")">Users</a></li>
                                <li><a href="pages/full-width.html">Full Width</a></li>
                                <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
                                <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
                                <li><a href="pages/basic-grid.html">Basic Grid</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="drop" href="#">Dropdown</a>
                            <ul>
                                <li><a href="@Url.Action("Index","PublisherBooks")">Publisher</a></li>
                                <li><a href="@Url.Action("Index","TypeBooks")">Type</a></li>
                                <li><a href="#">Level 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Link Text</a></li>
                        <li>
                            <a class="drop" href="#">Login</a>
                            <ul>
                                <li><a href="@Url.Action("LoginAdmin","Home")">Admin</a></li>
                                <li><a href="@Url.Action("Login","Home")">User</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- ################################################################################################ -->
            </header>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                <h3 class="heading">
                    Welcome<br>
                    To BookShop
                </h3>
                @*<p>Et lorem pulvinar consectetur suspendisse nec imperdiet mi sed ac porttitor nisl nam viverra diam at lectus malesuada mattis morbi quis.</p>*@
                <footer><a class="btn" href="@Url.Action("Index","ProductBooks")">เลือกซื้อสินค้า</a></footer>
            </article>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- End Top Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="group excerpt">
                <article class="one_third first">
                    <a class="imgover btmspace-30" href="#"><img src="~/images/demo/C Language.png" alt=""></a>
                    <h6 class="heading">คู่มือเขียนโปรแกรมด้วยภาษา C ฉบับสมบูรณ์</h6>
                    <p>
                        หนังสือเล่มนี้เป็นฉบับปรับปรุงล่าสุดของคู่มือภาษา C ที่ใช้ในสถาบันการศึกษาหลายๆ แห่ง
                        มานานกว่า 10 ปี รวมแล้วหลายหมื่นเล่ม ด้วยวิธีอธิบายและใช้ภาพประกอบที่เห็นขั้นตอนต่างๆ
                        อย่างชัดเจน ทำตามได้จริง จึงใช้ได้ทั้งการสอนในชั้นเรียน และอ่านเพื่อศึกษาด้วยตัวเอง&hellip;
                    </p>
                    <footer><a href="#">รายละเอียดสินค้า &raquo;</a></footer>
                </article>
                <article class="one_third">
                    <a class="imgover btmspace-30" href="#"><img src="~/images/demo/BootstrapHTML.png" alt=""></a>
                    <h6 class="heading">คอมพิวเตอร์ :พัฒนา Web Apps ด้วย Bootstrap+HTML 5</h6>
                    <p>หนังสือ "พัฒนา Web Apps ด้วย Bootstrap+HTML5" เล่มนี้ นำเสนอการใช้งาน Bootstrap ซึ่งถือเป็น Framework ที่ได้รับความนิยมเป็นอย่างมาก ในการเข้ามาทำหน้าที่ช่วยให้การออกแบบ ส่วนแสดงผลใน Web Apps คุณจะได้เรียนรู้พื้นฐานการออกแบบหน้าเว็บเพจ&hellip;</p>
                    <footer><a href="#">รายละเอียดสินค้า &raquo;</a></footer>
                </article>
                <article class="one_third">
                    <a class="imgover btmspace-30" href="#"><img src="~/images/demo/computer.png" alt=""></a>
                    <h6 class="heading">หนังสือ คู่มือคอมพิวเตอร์เบื้องต้น</h6>
                    <p>หนังสือเล่มนี้ได้รวบรวมเนื้อหาที่ผู้ใช้มือใหม่ควรรู้ ทั้งวิธีใช้งาน Windows 10 ขั้นพื้นฐาน และอินเทอร์เน็ตซึ่งเป็นสิ่งที่ใช้กันเป็นประจำจนเกือบจะเป็นส่วนหนึ่งของชีวิตไปแล้ว ไม่ว่าจะใช้เบราว์เซอร์เข้าเว็บไซต์ต่างๆ เช็คอีเมล ค้นหาข้อมูลด้วย Google Search ฝากหรือแชร์ไฟล์ที่อยู่บน Cloud ประชุมและสอนออนไลน์ ฯลฯ&hellip;</p>
                    <footer><a href="#">รายละเอียดสินค้า &raquo;</a></footer>
                </article>
            </div>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2 bgded overlay" style="background-image: url('~/images/demo/backgrounds/02.png');">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Porta consequat cras imperdiet</h6>
                <p>Lobortis erat at sodales libero malesuada vel curabitur maximus</p>
            </div>
            <ul class="nospace group overview">
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-address-card-o"></i></a>
                        <h6 class="heading"><a href="#">ข้อมูลส่วนตัว</a></h6>
                        <p>Sed non vulputate arcu nullam eu massa vitae urna vulputate efficitur in et&hellip;</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        <h6 class="heading"><a href="#">วิธีการสั่งซื้อสินค้า</a></h6>
                        <p>Mauris eu tristique aenean dapibus facilisis risus sed vestibulum sed vitae&hellip;</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-university"></i></a>
                        <h6 class="heading"><a href="#">แจ้งการชําระเงิน</a></h6>
                        <p>Pulvinar nulla elementum massa ut fermentum accumsan nulla luctus at risus&hellip;</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-truck"></i></a>
                        <h6 class="heading"><a href="#">การจัดส่งสินค้า</a></h6>
                        <p>Vitae est eu felis ultrices tristique morbi eget libero ultricies semper enim&hellip;</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-wheelchair-alt"></i></a>
                        <h6 class="heading"><a href="#">Eget tempor interdum</a></h6>
                        <p>Et malesuada fames ac ante ipsum primis in faucibus duis volutpat gravida nisi&hellip;</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fa fa-comments-o"></i></a>
                        <h6 class="heading"><a href="#">แจ้งปัญหา</a></h6>
                        <p>Aliquam lorem lorem ac iaculis eros pulvinar nec vivamus vestibulum nisl sem&hellip;</p>
                        <footer><a href="#">View Details &raquo;</a></footer>
                    </article>
                </li>
            </ul>
            <footer class="center"><a class="btn" href="#">Quis vehicula nulla</a></footer>
            <!-- ################################################################################################ -->
        </section>
    </div>




    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <figure class="hoc container clear">
            <!-- ################################################################################################ -->
            <figcaption class="sectiontitle">
                <h6 class="heading">Semper sed vestibulum faucibus</h6>
                <p>Mauris non hendrerit tempus donec nec facilisis velit bibendum</p>
            </figcaption>
            <ul class="nospace group center overview">
                <li class="one_third"><a class="imgover" href="#"><img src="~/images/demo/Python.png" alt=""></a></li>
                <li class="one_third"><a class="imgover" href="#"><img src="~/images/demo/ccc.png" alt=""></a></li>
                <li class="one_third"><a class="imgover" href="#"><img src="~/images/demo/cc.png" alt=""></a></li>
            </ul>
            <footer class="center"><a class="btn" href="#">Elit vitae convallis</a></footer>
            <!-- ################################################################################################ -->
        </figure>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2 bgded overlay" style="background-image: url('~/images/demo/backgrounds/03.png');">
        <section class="hoc container clear testimonials">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">สำนักพิมพ์</h6>
                <p>Vehicula convallis eget sed ex nullam eget faucibus ligula</p>
            </div>
            <ul class="nospace group btmspace-80">
                <li class="one_half first">
                    <blockquote>บริษัทสยามคอมิกส์ จำกัด ก่อตั้งขึ้นเมื่อเดือนมิถุนายน พ.ศ.2533 มีวัตถุประสงค์เมื่อแรกเริ่มเพื่อดำเนินการผลิตและจำหน่ายหนังสือการ์ตูนญี่ปุ่น ผ่านการเจรจาธุรกิจอย่างถูกต้องตามกฎหมายลิขสิทธิ์ระหว่างประเทศ เปลี่ยนชื่อครั้งแรกเป็น บริษัท สยาม อินเตอร์ คอมิกส์ จำกัด</blockquote>
                    <figure class="clear">
                        <img src="~/images/demo/sic180x180.png" alt="">
                        <figcaption>
                            <h6 class="heading">Siam Inter Comic</h6>
                            <em>สยามอีสเทิร์นคอมมิกส์</em>
                        </figcaption>
                    </figure>
                </li>
                <li class="one_half">
                    <blockquote>luckpim.com. บริษัทรักพิมพ์ พับลิชชิ่ง จำกัด เป็นสำนักพิมพ์ที่ตีพิมพ์และจัดจำหน่ายหนังสือการ์ตูนญี่ปุ่นและไลต์โนเวลญี่ปุ่น ในรูปแบบแปลเป็นภาษาไทยลิขสิทธิ์ถูกต้องจากสำนักพิมพ์ญี่ปุ่นและเป็นสำนักพิมพ์แรกที่ใช้กระดาษถนอมสายตาพิมพ์หนังสือการ์ตูน</blockquote>
                    <figure class="clear">
                        <img src="~/images/demo/LuckPim180x180ok.png" alt="">
                        <figcaption>
                            <h6 class="heading">Luckpim</h6>
                            <em>รักพิมพ์</em>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <footer class="center"><a class="btn" href="#">View More &raquo;</a></footer>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <
    <!--div class="wrapper">
       <section class="hoc container clear">-->
    <!-- ################################################################################################ -->
    <!--<div class="sectiontitle">
        <h6 class="heading">Non fringilla felis nunc placerat</h6>
        <p>Purus quis sagittis nunc quisque vel malesuada purus nam ut</p>
    </div>
    <div class="group excerpt btmspace-80">
        <article class="one_third first">
            <a class="imgover btmspace-30" href="#"><img src="~/images/demo/320x240.png" alt=""></a>
            <ul class="nospace meta">
                <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
            </ul>
            <h6 class="heading">Erat integer eleifend</h6>
            <p>Ex eget rhoncus laoreet justo dui viverra justo eget ultricies justo mi ut dui phasellus ut leo volutpat massa lobortis&hellip;</p>
            <footer><a href="#">Read More</a></footer>
        </article>
        <article class="one_third">
            <a class="imgover btmspace-30" href="#"><img src="~/images/demo/320x240.png" alt=""></a>
            <ul class="nospace meta">
                <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
            </ul>
            <h6 class="heading">Sodales etiam nec</h6>
            <p>Dui consectetur pretium vel quis mauris quisque scelerisque dui justo ut volutpat eros vestibulum accumsan nulla viverra&hellip;</p>
            <footer><a href="#">Read More</a></footer>
        </article>
        <article class="one_third">
            <a class="imgover btmspace-30" href="#"><img src="~/images/demo/320x240.png" alt=""></a>
            <ul class="nospace meta">
                <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
            </ul>
            <h6 class="heading">Laoreet sollicitudin</h6>
            <p>Dignissim maximus est vel egestas sed efficitur tortor ac eleifend semper leo nisl porttitor orci in malesuada nulla massa&hellip;</p>
            <footer><a href="#">Read More</a></footer>
        </article>
    </div>
    <footer class="center"><a class="btn" href="#">Convallis ultricies &raquo;</a></footer>-->
    <!-- ################################################################################################ -->
    <!--</section>
    </div>-->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <article class="one_quarter first">
                <h6 class="heading">Sapien suscipit nec</h6>
                <p>Ullamcorper quam eleifend donec vulputate ligula vel lacus vulputate ac efficitur odio malesuada curabitur nec nisl ac sapien dictum.</p>
                <p>Scelerisque eget nec massa cras tristique sapien vel tortor varius a varius lacus&hellip;</p>
                <p class="nospace"><a href="#">Read More</a></p>
            </article>
            <div class="one_quarter">
                <h6 class="heading">Placerat phasellus</h6>
                <ul class="nospace btmspace-30 linklist contact">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <address>
                            Street Name &amp; Number, Town, Postcode/Zip
                        </address>
                    </li>
                    <li><i class="fa fa-phone"></i> (+66) 1669</li>
                    <li><i class="fa fa-envelope-o"></i> BOOKSHOP@KRU.AC.TH</li>
                </ul>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Sapien suspendisse non</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Egestas cursus purus</a></li>
                    <li><a href="#">Quis rutrum est accumsan</a></li>
                    <li><a href="#">Sed nunc commodo massa</a></li>
                    <li><a href="#">Vel elit eleifend</a></li>
                    <li><a href="#">Sollicitudin morbi feugiat</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Erat id sem fringilla</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Mollis placerat in at</a></li>
                    <li><a href="#">Ligula eget dui ultrices</a></li>
                    <li><a href="#">Porta maecenas eget</a></li>
                    <li><a href="#">Mi a velit tincidunt</a></li>
                    <li><a href="#">Aliquam vel sit amet</a></li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

    <div class="container body-content">
        @RenderBody()

    </div>

    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            <!-- ################################################################################################ -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="~/layout/scripts/jquery.min.js"></script>
    <script src="~/layout/scripts/jquery.backtotop.js"></script>
    <script src="~/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>













